@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: League-Sparta, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

  font-family: League-Sparta, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Components */

/* Header  */
.header-main {
  @apply bg-slate-800
  w-full 
  flex flex-col flex-wrap py-4
  justify-center items-center 

}

/* NavBar Main  */

.navbar-main {
  @apply box-border 
  relative
  sm:w-9/12 
  text-center h-24 
  mx-auto
  bg-white
  rounded-xl
  font-League-Spartan
  flex flex-col sm:flex-row flex-wrap justify-center items-center
}

.navbar-main h1 a {
  @apply text-3xl text-slate-800
  font-bold
}


.navbar-main img {
  @apply w-12 h-12
  absolute right-20;
}

/* NavBar Main Links */

.navbar-main-links-wrapper {
  @apply absolute flex flex-col sm:flex-row flex-wrap justify-around gap-20 items-center top-36 
   text-slate-800 
}

.navbar-main-link {
  @apply hover:border-b-2 hover:border-slate-800 text-xl
}