@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: League-Spartan, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

code {

  font-family: League-Sparta, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App Wrapper */

.app-wrapper {
  @apply flex flex-col flex-wrap justify-center items-center gap-0 sm:gap-36 font-League-Spartan
  transition-all ease-in-out duration-500;
}

/* Pages */

.home-main {
  @apply flex flex-col flex-wrap justify-center items-center gap-20 w-full sm:w-9/12 mx-auto;
}



/* Components */

/* Header  */
.header-main {
  @apply bg-slate-800
  w-full 
  flex flex-col flex-wrap py-4
  justify-center items-center 

}

/* NavBar Main  */

.navbar-main {
  @apply box-border 
  relative
  w-full 
  sm:w-9/12 
  text-center 
  h-full
  sm:h-24 
  gap-6 sm:gap-0
  mx-auto
  bg-white
  rounded-xl
  font-League-Spartan 
  flex flex-col sm:flex-row flex-wrap justify-center items-center
}

.navbar-main h1 a {
  @apply text-3xl text-slate-800
  font-League-Spartan  font-bold
}


.navbar-main img {
  @apply w-12 h-12
  sm:absolute sm:right-20;
}

/* NavBar Main Links */

.navbar-main-links-wrapper {
  @apply sm:absolute flex flex-col sm:flex-row flex-wrap justify-around gap-8 my-4 sm:my-0 sm:gap-20 items-center top-36 
   text-slate-800 
}

.navbar-main-link {
  @apply hover:border-b-2 hover:border-slate-800 text-xl
}

/* Hero */

.hero-main {
  @apply flex flex-col flex-wrap justify-center items-center gap-10;
}

.hero-main article {
  @apply flex flex-col sm:flex-row flex-wrap justify-around 
  items-end gap-8  text-slate-800 font-black ;
}

.hero-main article h1 {
  @apply text-lg sm:text-5xl text-slate-800;
}

.hero-main article button {
  @apply text-4xl text-slate-800;
}
.hero-main h2 {
  @apply text-2xl text-slate-800 font-bold;
}

/* Feature Container */

.feature-container-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap:4em;

  
  /* @apply flex flex-row flex-wrap flex-auto justify-center items-center gap-10 mx-auto text-center ; */
}

.feature-card-main:nth-child(3n+1) { order: 2; }
.feature-card-main:nth-child(3n+2) { order: 2; }
.feature-card-main:nth-child(3n)   { order: 3; }
  /* @apply flex flex-col flex-wrap max-w-56 sm:w-80 min-h-44 border-2 border-slate-800 rounded-xl p-4 gap-4 bg-gray-200 cursor-pointer; */

.feature-container-main::before{
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 4;
  }

  .feature-container-main::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 3;
  }

  /* Feature Cards */

.feature-card-main {
   @apply flex flex-wrap flex-col gap-2 justify-center items-start
   shadow-inner shadow-slate-800 aspect-square p-8 text-wrap rounded-full cursor-pointer
    bg-sky-800 text-white
  } 

.feature-card-main:nth-child(1) { 
  @apply bg-blend-overlay;
    }


/* .feature-card-main:nth-child(3n+2) { 
@apply rounded-tl-none rounded-bl-none ;
} */

.feature-card-main h3 {
  @apply  text-2xl my-4 font-MuseoModerno text-center
  font-bold hover:font-Major-Mono hover:text-3xl transition-all ease-in-out duration-1000;
}

.drawing-board {
  border: 1px solid #000;
  display: block;
  margin: 20px auto;
  cursor: crosshair;
}


